{{ 'homepage.styles.css' | asset_url | stylesheet_tag }}

<div class="homepage p-0">
  {% comment %} Hero {% endcomment %}
  <div class="d-none d-lg-block">
    <img
      src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/SauersBanner_copy.jpg?v=1695664591"
      width=""
      height=""
      class="webSauersHero"
      loading="lazy"
    >
  </div>
  <div class="d-block d-lg-none">
    <img
      src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/WebSauersBanner.jpg?v=1695664586"
      width=""
      height=""
      class="MobileSauersHero"
      loading="lazy"
    >
  </div>
  {% comment %} About Brand {% endcomment %}
  <div class="container-fluid d-none d-lg-block p-0">
    <div class="row ">
      <div class="col-lg-4">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/sauer-brands-peppercorn.jpg?v=1695665278"
          width=""
          height=""
          class="MobileSauersHero"
          loading="lazy"
        >
      </div>
      <div class="col-lg-8 text-center ourStoryTextSec ">
        <h2>Our Story</h2>
        <h3 class="mb-3">A commitment to exceptional quality since 1887</h3>
        <p>
          From the pure-flavoring extracts first introduced by Conrad Frederick Sauer in the 19th century at CF Sauer
          Products to the branded and private label spices, mixes, sauces and more that define our brand today, Sauer
          Brands, Inc. continues to innovate and grow. We source globally and then conceive and produce our quality
          products right here in the USA.
        </p>

        <a href="/pages/about-sauers"><p class="aboutUsBtn">About Us</p></a>
      </div>
    </div>
  </div>
  <div class="container-fluid d-block d-lg-none p-0">
    <div class="row">
      <div class="col-12 text-center p-3">
        <h2>Our Story</h2>
        <h3>A commitment to exceptional quality since 1887</h3>
        <p>
          From the pure-flavoring extracts first introduced by Conrad Frederick Sauer in the 19th century at CF Sauer
          Products to the branded and private label spices, mixes, sauces and more that define our brand today, Sauer
          Brands, Inc. continues to innovate and grow. We source globally and then conceive and produce our quality
          products right here in the USA.
        </p>

        <a href="/pages/about-sauers"><p class="aboutUsBtn">About Us</p></a>
      </div>
      <div class="col-12">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/sauer-brands-peppercorn.jpg?v=1695665278"
          width=""
          height=""
          class="mobileStoryImg"
          loading="lazy"
        >
      </div>
    </div>
  </div>
  {% comment %} Product Line {% endcomment %}
  <div class="container-fluid ">
    <div class="row productLineSec">
      <div class="col-md-6 text-center prodLineTextSec">
        <h2 class="mb-3">Traditional SPICES</h2>
        <h3 class="mb-5">Our rock-solid line of spices.</h3>
        <p>All the standard spices you want and need. All the taste and value you expect from us.</p>
        <a href="/collections/Sauers "><p class="productLineBtn">Browse Product Line</p></a>
      </div>
      <div class="col-md-6">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/pexels-vinicius-caricatte-6245955.jpg?v=1695666119"
          width=""
          height=""
          class="prodLineImg"
          loading="lazy"
        >
      </div>
    </div>
  </div>
  {% comment %} Where to Buy {% endcomment %}
  <div class="text-center whereToBuyDiv">
    <h2>Where To Buy</h2>
    <h3>Find grocery and specialty stores that carry Sauer’s products.</h3>
    <a href="/pages/where-to-buy "><p class="wtbBtn">Find Sauer's Near You</p></a>
  </div>
  {% comment %} Recipes {% endcomment %}
  <div class="container-fluid">
    <div class="row text-center recipeSec">
      <div class="col-md-4 p-5">
        <div class="recipeCard">
          <div>
            <img
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/20221215215936-spiced-roasted-broccoli.png?v=1695817555"
              width=""
              height=""
              class="recipeImg"
              loading="lazy"
            >
          </div>
          <div>
            <h3 class="recipeTitle">Recipe 1</h3>
          </div>
          <a href="#"><p class="recipeBtn">View Recipe</p></a>
        </div>
      </div>
      {% comment %}  {% endcomment %}
      <div class="col-md-4 p-5">
        <div class="recipeCard">
          <div>
            <img
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/20221215215936-spiced-roasted-broccoli.png?v=1695817555"
              width=""
              height=""
              class="recipeImg"
              loading="lazy"
            >
          </div>
          <div>
            <h3 class="recipeTitle">Recipe 2</h3>
          </div>
          <a href="#"><p class="recipeBtn">View Recipe</p></a>
        </div>
      </div>
      {% comment %}  {% endcomment %}
      <div class="col-md-4 p-5">
        <div class="recipeCard">
          <div>
            <img
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/20221215215936-spiced-roasted-broccoli.png?v=1695817555"
              width=""
              height=""
              class="recipeImg"
              loading="lazy"
            >
          </div>
          <div>
            <h3 class="recipeTitle">Recipe 3</h3>
          </div>
          <a href="#"><p class="recipeBtn">View Recipe</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
