{{ 'spicehunter.styles.css' | asset_url | stylesheet_tag }}

<video width="100%" height="auto" controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/3c848aabff0e4170ac09bdc441f8d766.mp4" type="video/mp4">
  Your browser does not support the video tag
</video>
<div class="container">
  <div class="text-center my-5">
    <h1>SHOP IT.</h1>
    <h2>Find us online at these retailers.</h2>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <a href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Walmart_Button.png?v=1696529350"
          width=""
          height=""
          class="shBTN"
          loading="lazy"
      ></a>
    </div>
    <div class="col-md-6 text-center">
      <a href="#"
        ><img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Amazon_Button.png?v=1696529342"
          width=""
          height=""
          class="shBTN"
          loading="lazy"
      ></a>
    </div>
  </div>
</div>
<div class="container">
  <div class="text-center my-5">
    <h1>SEARCH IT.</h1>
    <p class="greenBtn">BROWSE ALL PRODUCTS</p>
  </div>
  <div class="row">
    <div class="col-6 col-lg-3 p-4">
      <a href="#" class="text-center">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/CuminTurkish_38c40543-a693-4dee-963e-049628222e05.png?v=1696596573"
          width=""
          height=""
          class="shBTN prodImg"
          loading="lazy"
        >
        <div>
          <p class="productSubTitle">Gourmet</p>
          <p class="productTitle">Turkish Cumin</p>
          <p class="productBtn">View Product</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-lg-3 p-4">
      <a href="#" class="text-center">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/CuminTurkish_38c40543-a693-4dee-963e-049628222e05.png?v=1696596573"
          width=""
          height=""
          class="shBTN prodImg"
          loading="lazy"
        >
        <div>
          <p class="productSubTitle">Gourmet</p>
          <p class="productTitle">Turkish Cumin</p>
          <p class="productBtn">View Product</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-lg-3 p-4">
      <a href="#" class="text-center">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/CuminTurkish_38c40543-a693-4dee-963e-049628222e05.png?v=1696596573"
          width=""
          height=""
          class="shBTN prodImg"
          loading="lazy"
        >
        <div>
          <p class="productSubTitle">Gourmet</p>
          <p class="productTitle">Turkish Cumin</p>
          <p class="productBtn">View Product</p>
        </div>
      </a>
    </div>
    <div class="col-6 col-lg-3 p-4">
      <a href="#" class="text-center">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/CuminTurkish_38c40543-a693-4dee-963e-049628222e05.png?v=1696596573"
          width=""
          height=""
          class="shBTN prodImg"
          loading="lazy"
        >
        <div>
          <p class="productSubTitle">Gourmet</p>
          <p class="productTitle">Turkish Cumin</p>
          <p class="productBtn">View Product</p>
        </div>
      </a>
    </div>
  </div>
</div>
<div>
  <img
    src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/pizzaDIV.png?v=1696607358"
    width=""
    height=""
    class="pizzaImg"
    loading="lazy"
  >
</div>
<div class="container">
  <div class="text-center my-5">
    <h1>MAKE IT.</h1>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <a href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/EB-Air-Fryer-Rolls_e23b95c7-5643-4796-a8d2-85014352bb3f.jpg?v=1696607756"
          width=""
          height=""
          class="recipeImg"
          loading="lazy"
        >
        <h2>Everything Bagen Air Fryer Rolls</h2>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="#"
        ><img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Smoky-Turmeric-Tahini-Miso-Honeynut-Squash_15b59091-0cec-4c37-91b4-e417e3be3fe5.jpg?v=1696607757"
          width=""
          height=""
          class="recipeImg"
          loading="lazy"
        >
        <h2>Smoky Turmeric & Tahini Miso Honeynut Squash</h2>
      </a>
    </div>
    <div class="col-md-4 text-center">
      <a href="#"
        ><img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Deviled-Eggs_7322fba7-6f37-40bb-af78-77804ddac553.jpg?v=1696607756"
          width=""
          height=""
          class="recipeImg"
          loading="lazy"
        >
        <h2>Deviled Eggs</h2>
      </a>
    </div>
  </div>
  <p class="greenBtn">View All Recipes</p>
</div>

<div class="spicehunterLogoDiv ">
  <img
    src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/TSH-Hex-Dish-It-Horizontal.png?v=1696596572"
    width=""
    height=""
    class="spicehunterImg"
    loading="lazy"
  >
</div>
