{{ 'ksAbout.styles.css' | asset_url | stylesheet_tag }}

<div class="container-fluid heroAboutKS">
  <div class="row">
    <div class="col-md-6 heroAboutKSText">Our Story</div>
    <div class="col-md-6"></div>
  </div>
</div>
<div class="container py-3">
  <h1 class="text-center my-3">Shakin' It Up Since 1999</h1>
  <div class="row">
    <div class="col-md-6 col-lg-8 pt-4">
      <p>
        Kernel Season’s®️ was born, appropriately enough, at the home of the Maize and Blue. While a student at the
        University of Michigan, Brian Taylor was looking for ways to bring more flavor to his favorite snack: popcorn.
        He started to experiment with natural seasonings and ingredients, and shared his creations with friends in the
        dorm. From the responses he got, he knew he had more than the perfect 3 a.m. snack.
      </p>
      <p>
        Upon Brian’s graduation in 1999, Kernel Season’s®️ got real. It became a real company that introduced itself in
        movie theaters by giving free samples to patrons looking for something more fun and adventurous than butter and
        salt. Soon people realized that the best popcorn (movie theater popcorn) was even better with Kernel Season’s®.
        The company took off as the demand for more flavors made with real ingredients ignited across the United States.
      </p>
      <p>
        Upon Brian’s graduation in 1999, Kernel Season’s®️ got real. It became a real company that introduced itself in
        movie theaters by giving free samples to patrons looking for something more fun and adventurous than butter and
        salt. Soon people realized that the best popcorn (movie theater popcorn) was even better with Kernel Season’s®.
        The company took off as the demand for more flavors made with real ingredients ignited across the United States.
      </p>
    </div>
    <div class="col-md-6 col-lg-4">
      <img
        class=""
        width="auto"
        height=""
        atl="Kernel Season's Garlic Parmesan jar"
        loading="lazy"
        src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Kernel-Seasons-Garlic-Parmesan.webp?v=1696434224"
      >
    </div>
  </div>
</div>
