{{ 'spicehunter.styles.css' | asset_url | stylesheet_tag }}

<video width="100%" height="auto" controls muted loop autoplay>
  <source src="https://cdn.shopify.com/videos/c/o/v/3c848aabff0e4170ac09bdc441f8d766.mp4" type="video/mp4">
  Your browser does not support the video tag
</video>
<div class="container">
  <div class="text-center">
    <h1>SHOP IT.</h1>
    <p>Find us online at these retailers.</p>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <a href="#">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Walmart_Button.png?v=1696529350"
          width=""
          height=""
          class="shBTN"
          loading="lazy"
      ></a>
    </div>
    <div class="col-md-6 text-center">
      <a href="#"
        ><img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Amazon_Button.png?v=1696529342"
          width=""
          height=""
          class="shBTN"
          loading="lazy"
      ></a>
    </div>
  </div>
</div>
