{{ 'sauersWTB.styles.css' | asset_url | stylesheet_tag }}
{% comment %} Header {% endcomment %}
<div class="d-none d-lg-block">
  <img
    src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/whereToBuyDesktop.jpg?v=1695836599"
    width=""
    height=""
    class="webSauersHero"
    loading="lazy"
  >
</div>
<div class="d-block d-lg-none">
  <img
    src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/MobileWheretoBuy.jpg?v=1695836604"
    width=""
    height=""
    class="MobileSauersHero"
    loading="lazy"
  >
</div>
<div class="container">
  <div class="row">
    {% comment %}  {% endcomment %}
    <div class="col-md-6 text-center">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_1.webp?v=1695837872"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Virginia</h3>
        <div class="row">
          <div class="col-6 shopsWTB">
            <p>Food Lion</p>
            <p>Kroger</p>
            <p>Publix</p>
            <p>Farm Fresh</p>
            <p>Food City</p>
            <p>Shoppers Value</p>
            <p>Callao Supermarket</p>
            <p>Community Supermarket</p>
            <p>Wakefield Great Valu</p>
          </div>
          <div class="col-6 shopsWTB">
            <p>Elba Butcher Shoppe</p>
            <p>Family Food</p>
            <p>Libbie Market</p>
            <p>Market @25th</p>
            <p>Red Front Supermarket</p>
            <p>Reid Super-Save Market</p>
            <p>Super Fresh</p>
            <p>Tri-Star Market</p>
            <p>Vista Foods</p>
          </div>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-md-6 text-center">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download.webp?v=1695837872"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Alabama</h3>
        <div class="row">
          <div class="col-6 shopsWTB">
            <p>Piggly Wiggly</p>
            <p>Food Giant</p>
            <p>Food Giant</p>
            <p>Food Outlet</p>
            <p>Foodland</p>
            <p>Grocery Outlet</p>
          </div>
          <div class="col-6 shopsWTB">
            <p>Pic N Sav</p>
            <p>Rainbow Foods</p>
            <p>Sav More</p>
            <p>Super Foods</p>
            <p>Marino's</p>
            <p>Warehouse Grocery</p>
          </div>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-md-6 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_2.webp?v=1695837872"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Georgia</h3>
        <div class="row">
          <div class="col-6 shopsWTB">
            <p>Piggly Wiggly</p>
            <p>Food City</p>
            <p>IGA</p>
          </div>
          <div class="col-6 shopsWTB">
            <p>Grocery Outlet</p>
            <p>Pic N Sav</p>
            <p>Rainbow Foods</p>
          </div>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-md-6 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_3.webp?v=1695837872"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">North Carolina</h3>
        <div class="row">
          <div class="col-6 shopsWTB">
            <p>Piggly Wiggly</p>
            <p>Hill's Hometown Supermarkets</p>
            <p>IGA</p>
            <p>Food-A-Rama</p>
          </div>
          <div class="col-6 shopsWTB">
            <p>Fresh Foods</p>
            <p>Red & White Markets</p>
            <p>Conner's Market</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    {% comment %}  {% endcomment %}
    <div class="col-md-4 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_8.webp?v=1695837871"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Flordia</h3>

        <div class=" shopsWTB">
          <p>Piggly Wiggly</p>
          <p>Grocery Outlet</p>
          <p>Pic N Sav</p>
        </div>
      </div>
    </div>
    {% comment %}
    {% endcomment %}
    <div class="col-md-4 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_9.webp?v=1695837872"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Mississippi</h3>

        <div class=" shopsWTB">
          <p>Piggly Wiggly</p>
          <p>Clairborne Hill</p>
          <p>Stoke's Supermarket</p>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-md-4 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_10.webp?v=1695837872"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Tennessee</h3>

        <div class=" shopsWTB">
          <p>Food City</p>
          <p>Foodland</p>
          <p>Piggly Wiggly</p>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    {% comment %}  {% endcomment %}
    <div class="col-md-3 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_4.webp?v=1695837871"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Indiana</h3>

        <div class=" shopsWTB">
          <p>Miller's</p>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
    {% comment %}  {% endcomment %}
    <div class="col-md-3 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_5.webp?v=1695837871"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Ohio</h3>

        <div class=" shopsWTB">
          <p>Miller's</p>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-md-3 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_6.webp?v=1695837871"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">South Carolina</h3>

        <div class=" shopsWTB">
          <p>IGA</p>
          <p>Piggly Wiggly</p>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="col-md-3 text-center my-3">
      <div class="stateCard">
        <img
          src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/download_7.webp?v=1695837872"
          width=""
          height=""
          class="stateImg"
          loading="lazy"
        >
        <h3 class="stateHeader">Kentucky</h3>

        <div class=" shopsWTB">
          <p>Food City</p>
          <p>IGA</p>
        </div>
      </div>
    </div>
    {% comment %}  {% endcomment %}
  </div>
</div>
