<div class="d-none d-lg-block ">
  <img
    class="imgKS"
    src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Header-BG.jpg?v=1678204641"
    width="auto"
    height=""
    alt="Popcorn"
    loading="lazy"
  >
</div>
<div class="d-xs-block d-lg-none text-center HeroMobImg ">
  <img
    class="HeroMobImg"
    src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Header-BG_-_Mob.jpg?v=1678457922"
    width=""
    height=""
    alt="Popcorn"
    loading="lazy"
  >
</div>
<div class="whereToBuyDiv" style="background-color: black;">
  <div class="container">
    <div class="text-center">
      <p class="fKSNYSearchHeading">Find Kernel Season's Near You</p>
    </div>

    <div class="row">
      <div class="col-md-2 col-lg-4"></div>
      <div class="col-md-8 col-lg-4">
        <div class="row text-center">
          <div class="col-3  p-3">
            <img
              class="imgKS"
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Walmart-Logo.png?v=1678988289"
              width="auto"
              height=""
              atl="Walmart Logo"
              loading="lazy"
            >
          </div>
          <div class="col-3 p-3">
            <img
              class="imgKS"
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Amazon-Logo.png?v=1678988289"
              width="auto"
              height=""
              atl="Amazon Logo"
              loading="lazy"
            >
          </div>
          <div class="col-3 p-3">
            <img
              class="imgKS"
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Kroger-Logo.png?v=1678988288"
              width="auto"
              height=""
              atl="Kroger Logo"
              loading="lazy"
            >
          </div>
          <div class="col-3 p-3">
            <img
              class="imgKS"
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Meijer-Logo.png?v=1678988296"
              width="auto"
              height=""
              atl="Meijer Logo"
              loading="lazy"
            >
          </div>
          <div class="col-3 p-3">
            <img
              class="imgKS"
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Publix-Logo.png?v=1678988296"
              width="auto"
              height=""
              atl="Publix Logo"
              loading="lazy"
            >
          </div>
          <div class="col-3 p-3">
            <img
              class="imgKS"
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Food_Lion-Logo.png?v=1678988288"
              width="auto"
              height=""
              atl="Food Lion Logo"
              loading="lazy"
            >
          </div>
          <div class="col-3 p-3">
            <img
              class="imgKS"
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Albertsons-Logo.png?v=1678988289"
              width="auto"
              height=""
              atl="Albertsons Logo"
              loading="lazy"
            >
          </div>
          <div class="col-3 p-3">
            <img
              class="imgKS"
              src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/WinnDixie-Logo.png?v=1678988288"
              width="auto"
              height=""
              atl="Winn Dixie Logo"
              loading="lazy"
            >
          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-4"></div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="text-center container">
    <p class="fKSNYSearchHeading">Buy Online</p>
    <div class="row">
      <div class="col-6">
        <a href="#">
          <img
            class="logoBtns"
            src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Emblem-Walmart.jpg?v=1696427840"
            width="auto"
            height=""
            atl="Walmart Logo Button"
            loading="lazy"
        ></a>
      </div>

      <div class="col-6">
        <a href="#">
          <img
            class="logoBtns"
            src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/amazonLogo.png?v=1696427840"
            width="auto"
            height=""
            atl="Amazon Logo Button"
            loading="lazy"
        ></a>
      </div>
    </div>
  </div>
</div>

<div class="container py-5 WCDiv">
  <div class="text-center">
    <h1 id="fuosHeader">FEATURED PRODUCT</h1>
  </div>
  <div class="row">
    <div class="col-md-6 text-md-end text-center ">
      <img
        src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/White-Cheddar-Featured.png?v=1678204641"
        width=""
        height="500"
        alt=""

        loading="lazy"
      >
    </div>
    <div class="col-md-6 TextWCDIV ">
      <h1 class="mt-5" id="HeaderTWCDIV">White Cheddar</h1>
      <p id="bodyTWCDIV">
        White cheddar is the ninja of flavors. You can’t see it on popcorn, but it delivers a big, tangy, real cheese
        punch. It’s Nacho Cheddar’s older, kinda mysterious brother. He drives a fast car with the windows down...on the
        way to the opera. Sophisticated, but knows how to have fun. Go with him and don’t look back.
      </p>
      <a href="https://sauers.com/products/white-cheddar" class="shopNowBtn">Shop Now</a>
    </div>
  </div>
</div>
<div class="shopAllPopcornDiv">
  <div class="text-center buttonDiv ">
    <a href="/collections/kernel-popcorn-seasonings" class="btn-blue ">Browse All Flavors</a>
  </div>
</div>
<div class="MovieTheaterDiv">
  <div class="text-center textDivMTD">
    <p id="lineOneMTD">WE SOMEHOW IMPROVED POPCORN AND MOVIES</p>
    <p id="lineTwoMTD">NOW YOU CAN TOO!</p>
    <p id="lineThreeMTD">ASK FOR KERNEL SEASONS AT YOUR LOCAL MOVIE THEATER.</p>
  </div>
</div>

<div class="text-center p-5">
  <h1 id="fuosHeader">FOLLOW US ON SOCIAL</h1>
  <div class="container">
    <div class="row">
      <div class="col-3 d-none d-md-block"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-1 col-md-1"></div>
          <div class="col-md-2 col-2">
            <a
              href="https://www.facebook.com/KernelSeasonsPopcorn/?utm_source=website&utm_medium=landing_page"
              target="_blank"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Facebook.png?v=1678204716"
                width=""
                height=""
                alt=""
                loading="lazy"
            ></a>
          </div>
          <div class="col-md-2 col-2">
            <a
              href="https://www.instagram.com/kernelseasons/?utm_source=website&utm_medium=landing_page"
              target="_blank"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Instagram.png?v=1678204713"
                width=""
                height=""
                alt=""
                loading="lazy"
            ></a>
          </div>
          <div class="col-md-2 col-2">
            <a href="https://www.tiktok.com/@kernelseasons/?utm_source=website&utm_medium=landing_page" target="_blank">
              <img
                src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/TikTok.png?v=1678204714"
                width=""
                height=""
                alt=""
                loading="lazy"
            ></a>
          </div>
          <div class="col-md-2 col-2">
            <a
              href="https://www.pinterest.com/kernelseasons/?utm_source=website&utm_medium=landing_page"
              target="_blank"
            >
              <img
                src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Pinterest.png?v=1678204713"
                width=""
                height=""
                alt=""
                loading="lazy"
            ></a>
          </div>
          <div class="col-md-2 col-2">
            <a href="https://twitter.com/KernelSeasons/?utm_source=website&utm_medium=landing_page" target="_blank">
              <img
                src="https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Twitter.png?v=1678204714"
                width=""
                height=""
                alt=""
                loading="lazy"
              >
            </a>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
      <div class="col-3 d-none d-md-block"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% stylesheet %}
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
  .whereToBuyDiv {
    padding: 10rem 0px 5rem;
    background-image: url('https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Store-Locator-BG.jpg?v=1678204641');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #whereToBuyBtnLarge {
    background-color: white;
    padding: 10px 6rem 10px;
    text-decoration: none;
    color: #ffb81c;
    font-size: 3em;
    border-radius: 40px;
    font-family: 'Permanent Marker', cursive;
  }
  #whereToBuyBtnLarge:hover {
    background-color: #162950;
    color: white;
  }
  #whereToBuyBtnMed {
    background-color: white;
    padding: 10px 6rem 10px;
    text-decoration: none;
    color: #ffb81c;
    font-size: 2em;
    border-radius: 40px;
    font-family: 'Permanent Marker', cursive;
  }
  #whereToBuyBtnMed:hover {
    background-color: #162950;
    color: white;
  }
  #whereToBuyBtnSmall {
    background-color: white;
    padding: 5px 20px 5px;
    text-decoration: none;
    color: #ffb81c;
    font-size: 1.4em;
    border-radius: 40px;
    font-family: 'Permanent Marker', cursive;
  }
  #whereToBuyBtnSmall:hover {
    background-color: #162950;
    color: white;
  }
  #HeaderTWCDIV {
    color: #00a9e0;
    font-family: 'Permanent Marker', cursive;
  }
  #bodyTWCDIV {
    padding: 30px 0 30px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
  }

  .shopNowBtn {
    background-color: #feb81c;
    color: white;
    text-decoration: none;
    padding: 10px 40px 10px;
    border-radius: 40px;
  }
  .HeroMobImg {
    overflow: hidden;
  }
  .imgKS {
    max-width: 100%;
  }
  /* Shopall Button popcorn image */
  .btn-blue {
    background-color: #00a9e0;
    padding: 5px 40px 5px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
  .buttonDiv {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .shopAllPopcornDiv {
    background-image: url('https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Shop-All-BG.jpg?v=1678988112');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 20px 0 20px;
  }

  /* Movie Theater Div */
  .MovieTheaterDiv {
    background-image: url('https://cdn.shopify.com/s/files/1/0527/2184/4410/files/Movie-Section-BG_0f79cc9a-2e56-4294-8095-e2e6eb3b89f4.jpg?v=1678988296');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0 300px;
  }
  .textDivMTD {
    color: white;
  }
  #lineOneMTD {
    font-size: 2em;
    color: white;
    font-family: 'Permanent Marker', cursive;
    line-height: 1;
  }
  #lineTwoMTD {
    font-size: 2.5em;
    line-height: 1;
    color: white;
    font-family: 'Permanent Marker', cursive;
  }
  #lineThreeMTD {
    font-size: 1.5em;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 30px 0 0;
  }
  /* Social Div */
  #fuosHeader {
    color: #00a9e0;
    font-family: 'Permanent Marker', cursive;
  }
  .fKSNYSearchHeading {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 3em;
  }
  .logoBtns {
    width: 75%;
    border-radius: 10px;
    border: solid 2px transparent;
  }
  .logoBtns:hover {
    filter: brightness(85%);
    border: solid 2px white;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
