.pageinationStyles{
    font-size: 1.5em;
    font-weight: 700;
    color: black;
}
.productTitle{
    font-size: 1.5em;
    color: black;
    font-weight: 700;
}
.collectionHeroBanner{
    text-align: center;
    background-color: #00a9e0;
    color: #162950;
    height: 100px;
    padding-top: 20px;
}