.kernelFooter{
    background-color: #00a9e0;
  
}
.spicehunterFooter{
    background-color: #a1c283;
}
.sauersFooter{
    background-color: #4b6174;
    color: #df7500;

}
.basicFooter{

    background-color: #3a3a3a;
    color: #df7500;

}